/* src/components/CategorySection/CategorySection.css */
.videos {
  display: flex;
  flex-wrap: wrap;
}

.category-section h2 {
  color: white;
  padding: .6em;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 2px #ccc solid;
}

.category-title {
  font-size: 1.5em;
  margin-bottom: 1%;
}

.category-section {
  margin-bottom: 0%;

}

